* {
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  margin: 0;
}
main {
  background-color: hsl(0, 100%, 74%);
  height: 100vh;
  position: relative;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("images/bg-intro-desktop.png");
  }
}
.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 1000px;
  z-index: 1;
}
.container > div:first-of-type {
  color: white;
  width: 50%;
  & h1 {
    font-size: 40px;
  }
}
.err {
  &::after {
    position: absolute;
    content: "";
    background-image: url("/images/icon-error.svg");
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    right: 35px;
    width: 24px;
    height: 24px;
  }
  & input {
    color: hsl(0, 100%, 74%);
    border-color: hsl(0, 100%, 74%) !important;
    &:focus {
      outline: none !important;
    }
  }
  & span {
    color: hsl(0, 100%, 74%);
  }
}

.container > div:last-of-type {
  flex: 1;
  & section {
    color: hsl(246, 25%, 77%);
    padding: 10px;
    background-color: hsl(248, 32%, 49%);
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 13px;
    box-shadow: 0px 5px 0 0 hsl(249deg 7.57% 22.69% / 31%);
    & span {
      color: white;
    }
  }
  & form {
    background-color: white;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    gap: 30px;
    & label {
      width: 100%;
      position: relative;
    }

    & input {
      width: 100%;

      padding: 10px;
      border-radius: 6px;
      border: 1px solid hsl(246, 25%, 77%);
      &:focus {
        outline: 1px solid hsl(249, 10%, 26%);
      }
    }
    & [type="submit"] {
      background-color: hsl(154, 59%, 51%);
      color: white;
      border: none;
      cursor: pointer;
      outline: none;
    }
    & p {
      font-size: 10px;
      color: hsl(246, 25%, 77%);
      & a {
        text-decoration: none;
        color: hsl(0, 100%, 74%);
        font-weight: 700;
      }
    }
  }
}
.submitted {
  position: absolute;
  z-index: 2;
  font-size: 11px;
  padding: 10px;
  color: hsl(154, 59%, 51%);
  background-color: white;
  border-radius: 6px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  transition: 0.3s;
  width: 210px;
}
@media (max-width: 800px) {
  main {
    padding: 20px;
  }
  .container {
    flex-flow: column;
    & div:first-of-type {
      width: 100%;
    }
    & div {
      min-width: 300px;
      text-align: center;
    }
  }
}
